@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Arima-Medium";
  src: url("./fonts/Arima-Light.ttf");
}

body {
  font-family: "Arima-Medium", sans-serif;
  overflow: hidden;
}

.background {
  width: 100%;
  height: 100dvh;
  background-image: url("../../public/image/backgroundImg/bg.avif");
  background-size: cover;
  background-position: left;
}

.sign-up-button {
  background: linear-gradient(135deg, #cfa24a, #e8c874);

  &:disabled {
    cursor: not-allowed;
    background: linear-gradient(135deg, #cfa34ae2, #e8c774d0);
  }
}

.sign-up-button:active {
  background: linear-gradient(135deg, #cfa34aa6, #e8c774a2);
}

.log-in-button {
  background: linear-gradient(135deg, #cfa24a, #e8c874);

  &:disabled {
    cursor: not-allowed;
    background: linear-gradient(135deg, #cfa34ae2, #e8c774d0);
  }
}

.log-in-button:active {
  background: linear-gradient(135deg, #cfa34aa6, #e8c774a2);
}

.animation {
  animation: element-opacity 2s ease-in-out;
}

@keyframes element-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bag-animation {
  animation: slide-left 1s ease-in-out;
}

@keyframes slide-left {
  0% {
    display: hidden;
    transform: translateX(100px);
  }
  100% {
    display: block;
    transform: translateX(-0px);
  }
}

.productImage {
  aspect-ratio: 3/4;
  object-fit: contain;
  mix-blend-mode: multiply;
}
