@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Arima-Medium";
  src: url("./fonts/Arima-Light.ttf");
}

body {
  font-family: "Arima-Medium", sans-serif;
  overflow: hidden;
}

.background {
  width: 100%;
  height: 100dvh;
  background-image: url("../../public/image/backgroundImg/background.webp");
  background-size: cover;
  background-position: center;
}

.sign-up-button {
  background: linear-gradient(90deg, #ff6ebd, #ffd562);

  &:disabled {
    cursor: not-allowed;
    background: linear-gradient(90deg, #f89ecf, #fae19e);
  }
}

.sign-up-button:active {
  background: linear-gradient(90deg, #fe2ca0, #ffc21a);
}

.log-in-button {
  background: linear-gradient(90deg, #ff6ebd, #ffd562);

  &:disabled {
    cursor: not-allowed;
    background: linear-gradient(90deg, #f89ecf, #fae19e);
  }
}

.log-in-button:active {
  background: linear-gradient(90deg, #fe2ca0, #ffc21a);
}

.animation {
  animation: element-opacity 2s ease-in-out;
}

@keyframes element-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bag-animation {
  animation: slide-left 1s ease-in-out;
}

@keyframes slide-left {
  0% {
    display: hidden;
    transform: translateX(100px);
  }
  100% {
    display: block;
    transform: translateX(-0px);
  }
}

.productImage {
  aspect-ratio: 3/4;
  object-fit: contain;
  mix-blend-mode: multiply;
}
