.background {
  background: linear-gradient(90deg, #3f3f3f, #101010);
}

.tShirt {
  animation: slide-up 1.5s ease-in-out;
}

@keyframes slide-up {
  0% {
    transform: translateY(250px);
  }
  100% {
    transform: translateY(0);
  }
}

.cart_animation {
  margin-left: 20px;
  animation: slide-right 1.5s ease-in-out;
}

@keyframes slide-right {
  0% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(0);
  }
}

@media (min-width: 768px) {
  .background {
    background-color: #101010;
  }
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
